.about-us {
  background-image: url('../img/bg-test.png');
  background-repeat: no-repeat;
  background-size: 613px;
  background-position: right 0px bottom 0px;
}

.about-us-list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include desk {
    gap: 10px;
    background-image: url('../img/about-us-bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;

    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include wide {
    gap: 40px;
    background-size: 672px;
  }
}

.about-us-item {
  display: flex;
  gap: 20px;
  align-items: center;

  @include desk {
    width: 405px;
    &:nth-child(5),
    &:nth-child(6) {
      width: 380px;
    }

    &:nth-child(1),
    &:nth-child(9) {
      margin-right: 217px;
    }

    &:nth-child(3),
    &:nth-child(7) {
      margin-right: 330px;
    }

    &:nth-child(5) {
      margin-right: 380px;
    }
  }

  @include wide {
    width: 605px;
    &:nth-child(5),
    &:nth-child(6) {
      width: 580px;
    }

    &:nth-child(1),
    &:nth-child(9) {
      margin-right: 217px;
    }

    &:nth-child(3),
    &:nth-child(7) {
      margin-right: 483px;
    }

    &:nth-child(5) {
      margin-right: 549px;
    }
  }
}

.about-us-item-text:nth-child(odd) {
  text-align: right;
}

.about-us-title {
  font-family: 'Proxima Nova Bold';
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: var(--main-lh);
  margin-bottom: 10px;
}

.about-us-text {
  font-size: var(--second-fs);
  @include desk {
    font-size: 12px;
  }

  @include wide {
    font-size: var(--second-fs);
  }
}

.about-us-item-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include wide {
    width: 80px;
    height: 80px;
  }
}

.icon {
  stroke: currentColor;
  fill: none;
}

.about-us-gallery {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 250px;
}
