.connect-wrap {
  display: flex;
  margin-top: 22px;
  gap: 30px;
}

.connect-inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  @include tab {
    width: 391px;
  }
}

.connect-form-input {
  width: 100%;
  //   height: 46px;
  padding: 15px 21px;
  background-color: #f3f3f3;
  outline: none;
  border-color: transparent;
  transition: border-color var(--trans-dur) var(--trans-timing-function);

  &::placeholder {
    font-size: 14px;
    line-height: 1.17;
    color: #8d8d8d;
  }

  &:focus {
    border-color: var(--main-gray);
  }
}

.connect-form-feedback {
  width: 100%;
  height: 147px;
  padding: 15px 21px;
  background-color: #f3f3f3;
  outline: none;
  resize: none;
  border-color: transparent;
  transition: border-color var(--trans-dur) var(--trans-timing-function);

  &::placeholder {
    font-size: 14px;
    line-height: 1.17;
    color: #8d8d8d;
  }

  &:focus {
    border-color: var(--main-gray);
  }
}

.connect-field-policy {
  margin-top: 22px;
  margin-bottom: 21px;
  display: flex;
  gap: 10px;
}

.connect-label-policy {
  font-size: 14px;
  line-height: 1.24;
  color: var(--main-gray);
}

.connect-img-wrap {
  display: none;
  @include tab {
    display: block;
  }
}
