.footer {
  padding: 43px 0 55px 0;
  background-image: var(--gradient);
  background-size: 30%;
  background-repeat: no-repeat;
}

.footer-info {
}

.footer-logo {
  display: inline-block;
  width: 160px;
  margin-bottom: 30px;

  @include desk {
    width: 190px;
  }

  @include wide {
    width: 266px;
  }
}

.footer-text {
  font-size: var(--second-fs);
  line-height: var(--main-lh);
  margin-bottom: 69px;
}

.footer-copyright {
  font-size: var(--second-fs);
  line-height: var(--main-lh);
}
