.footer {
  // background-image: linear-gradient(to bottom, #ffb800 41.3%, #2d2c2c 41.3%);
  background-image: linear-gradient(to bottom, #ffb800 34.5%, #2d2c2c 34.5%);
  background-repeat: no-repeat;

  @include mob {
    background-image: linear-gradient(to bottom, #ffb800 342px, #2d2c2c 342px);
  }

  @include tab {
    background-image: linear-gradient(to bottom, #ffb800 302px, #2d2c2c 302px);
  }

  @include desk {
    background-image: linear-gradient(to right, #ffb800, #ffdf00 30%, #ffdf00 40%, #2d2c2c 50%);
  }

  .container {
    display: flex;
    flex-direction: column;

    @include desk {
      flex-direction: row;
    }
  }
}

.footer-info {
  padding-top: 40px;
  padding-bottom: 55px;
  padding-right: 30px;
  padding-left: 30px;

  @include desk {
    padding-left: 0px;

    width: 450px;
  }
}

.footer-contacts {
  padding-top: 40px;
  padding-bottom: 55px;
  padding-left: 30px;
  background-image: linear-gradient(to right, rgba(45, 44, 44, 0.9), rgba(45, 44, 44, 0.9)),
    url('../img/footer-bg-2.png');

  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center, top 0px left -200px;

  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @include tab {
    background-position: center, top 0px left 0px;
  }

  @include desk {
    flex-wrap: nowrap;
    justify-content: center;
  }

  @include wide {
    width: 1305px;

    gap: 146px;
    justify-content: end;
  }
}

.footer-logo {
  display: inline-block;
  width: 160px;
  margin-bottom: 30px;

  @include desk {
    width: 190px;
  }

  @include wide {
    width: 266px;
  }
}

.footer-text {
  font-size: var(--second-fs);
  line-height: var(--main-lh);
  margin-bottom: 29px;

  @include wide {
    margin-bottom: 69px;
  }
}

.footer-copyright {
  font-size: var(--second-fs);
  line-height: var(--main-lh);
}

.footer-contacts-title {
  font-family: 'Proxima Nova Bold';
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: var(--main-lh);
  margin-bottom: 30px;
}

.footer-contacts-phone {
  width: 257px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.footer-contacts-text {
  font-size: var(--main-fs);
  color: #fff;
  line-height: var(--main-lh);

  @include wide {
    font-size: 24px;
  }
}

.footer-contacts-text-small {
  font-size: var(--main-fs);
  line-height: var(--main-lh);
  color: #fff;
}

.footer-contacts-adress {
  width: 298px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contacts-soc {
  margin-top: 20px;
  display: flex;
  gap: 45px;
  align-items: center;
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.decor {
  text-decoration: underline;
}

.footer-contacts-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @include tab {
    flex-wrap: nowrap;
    width: 220px;
  }

  @include desk {
    flex-wrap: wrap;
  }

  @include wide {
    width: 360px;
  }
}
