.header {
  min-width: 370px;
  padding-top: 16px;
  padding-bottom: 16px;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include desk {
      justify-content: space-between;
      gap: 0;
    }
  }
}

.header-logo {
  display: inline-block;
  width: 160px;
  margin-right: auto;

  @include desk {
    width: 190px;
  }

  @include wide {
    width: 266px;
  }
}

.header-nav {
  display: none;

  @include tab {
    display: block;
  }
}

.menu-list {
  display: flex;

  &-item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid rgba(51, 51, 51, 0.1);
    }
    @include desk {
      padding: 0 15px;
    }

    @include wide {
      padding: 0 50px;
    }
  }

  &-link {
    color: var(--text-color);
    font-size: var(--main-fs);
    line-height: var(--main-lh);
    transition: color var(--trans-dur) var(--trans-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header-contacts-soc {
  display: flex;
  gap: 12px;
}

.soc-item {
  width: 35px;
}

.header-contacts {
  display: flex;
  gap: 40px;
  align-items: center;
}

.phones-working {
  font-size: var(--second-fs);
  line-height: var(--main-lh);
  margin-bottom: 2px;
}

.phones-phone {
  display: flex;
  align-items: center;
  font-family: 'Proxima Nova Bold';
  color: var(--text-color);
  font-size: 20px;
  line-height: var(--main-lh);

  &::after {
    content: '';

    width: 24px;
    height: 24px;
    background-image: url('../../icons/chevron_down.svg');
  }

  @include wide {
    font-size: 26px;
  }
}

.mob-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgb(245, 240, 208);
  width: 270px;
  padding: 30px;
}

.mob-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include tab {
    display: none;
  }
}

.mob-menu-close {
  position: absolute;
  top: 12px;
  right: 16px;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .mob-menu-icon {
    fill: var(--accent-color);
  }
  &:focus .mob-menu-icon {
    fill: var(--accent-color);
  }
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.no-scroll {
  overflow-y: hidden;
}
