.hero {
  padding-bottom: 60px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.hero-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mob {
    padding-bottom: 30px;
    gap: 30px;
  }

  @include tab {
    gap: 60px;
  }

  @include desk {
    gap: 90px;

    padding-bottom: 104px;
  }
}

.hero-img-wrap {
  animation-delay: 0.2s;
}

.hero-title {
  width: 178px;

  font-family: 'TT Hoves Light';
  font-size: 32px;
  font-weight: 300;
  color: var(--accent-gray-4);
  text-transform: uppercase;

  .title-accent {
    font-family: 'TT Hoves Bold';
    color: var(--main-gray);
  }

  @include tab {
    font-size: 48px;
    width: 278px;
  }

  @include desk {
    font-size: 64px;
  }
}

.hero-btns-wrap {
  display: flex;
  gap: 23px;
  animation-delay: 0.1s;
}

.hero-nav-btn {
  padding: 15px;
  background-color: var(--white-color);
  border: 1px solid var(--accent-gray-6);
  cursor: pointer;

  transition: background-color var(--trans-dur) var(--trans-timing-function);

  &:hover,
  &:focus {
    background-color: #f9f9f9;
  }
}

.hero-title-number {
  font-size: 24px;
  color: var(--accent-gray-4);
  animation-delay: 0.2s;
}

.hero-img-wrap {
  position: relative;
  width: 272px;
  @include tab {
    width: 448px;
  }

  @include desk {
    width: 770px;
  }
}
