.partners-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-link {
  width: 270px;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.1);
}

.partners-link:hover,
.partners-link:focus {
  background-image: linear-gradient(to right, rgba(255, 221, 0, 0.15), rgba(255, 183, 0, 0.15));
}
