.projects-list {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-link {
  display: block;
  transition: box-shadow var(--trans-dur) var(--trans-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-list-item {
  opacity: 0;
  transition: opacity 1s ease;
}

.projects-list-item.animate__zoomIn {
  opacity: 1;
}

.projects-list-item:nth-child(1) {
  width: 100%;
  @include mob {
    width: 450px;
  }

  @include tab {
    width: 354px;
  }
  @include desk {
    width: 570px;
  }
}

.projects-list-item:nth-child(2) {
  width: 100%;
  @include mob {
    width: 450px;
  }
  @include tab {
    width: 354px;
  }
  @include desk {
    width: 570px;
  }
}

.projects-list-item:nth-child(3) {
  width: 100%;
  @include mob {
    width: 154px;
  }

  @include tab {
    width: 166px;
  }

  @include desk {
    width: 270px;
  }
}
.projects-list-item:nth-child(4) {
  width: 100%;
  @include mob {
    width: 266px;
  }

  @include tab {
    width: 286px;
  }

  @include desk {
    width: 470px;
  }
}
.projects-list-item:nth-child(5) {
  width: 100%;
  @include mob {
    width: 225px;
  }

  @include desk {
    width: 370px;
  }
}
.projects-list-link:hover .projects-info {
  transform: translateY(0%);
}

.projects-wrap {
  position: relative;
  overflow: hidden;
}

.projects-info {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-left: 10%;
  background-color: rgba(51, 51, 51, 0.8);
  transform: translateY(101%);
  transition: transform var(--trans-dur) var(--trans-timing-function);
}

.projects-info-text {
  font-family: 'TT Hoves Bold';
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--white-color);

  @include desk {
    font-size: 64px;
  }
  // margin-bottom: 8px;
}

.projects-info-action {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white-color);
  &::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 8px;
    background-image: url('../icons/right-arrow-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 80%;
    transform: translateY(-20%);
  }
}
.project-btn-wrap {
  display: flex;
  justify-content: end;
}
