.tasks-list {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    gap: 30px;
    align-items: center;

    opacity: 0;
    transition: opacity 1s ease;
  }

  @include desk {
    justify-content: space-between;
    flex-direction: row;
  }
}

.tasks-list-item.animate__flipInY {
  opacity: 1;
}

.task-number {
  flex-shrink: 0;
  width: 121px;
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 1.19;
  color: var(--accent-gray-6);
}

.task-text {
  font-size: 22px;
  line-height: 1.63;
}
