.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 20px 67px;
  border: none;
  border-radius: 5px;

  font-family: 'Proxima Nova Bold';
  color: var(--text-color);

  font-size: 20px;
  line-height: var(--main-lh);

  background-image: linear-gradient(to right, #ffdf00, #ffb800);

  cursor: pointer;
  // transition: background-color var(--trans-dur) var(--trans-timing-function);
}
