:root {
  --text-color: #333333;
  --accent-color: #ffe30b;
  --gradient: linear-gradient(to right, #ffdf00, #ffb800);

  --main-fs: 20px;
  --second-fs: 16px;

  --main-lh: 1.25;

  --trans-dur: 300ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../fonts/Proxima Nova Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url('../fonts/Proxima Nova Extra Bold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova-Semibold';
  src: url('../fonts/Proxima Nova-Semibold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  color: var(--text-color);
  font-size: var(--main-fs);
  // background-color: #fffefb;
}
